@font-face {
    font-family: "ssurround";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/ssurround/ssurround.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/ssurround/ssurround.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ssurround/ssurround.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ssurround/ssurround.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ssurround/ssurround.ttf") format("truetype");
    font-display: swap;
} 
.ssurround {
    font-family: "ssurround";
}
